body {
  background: #111;
  color: #eee;
  height: 100%;
  width: 100%;
}

button {
  background: #222;
  color: #eee;
}

.compass-button {
  width: 100px;
  height: 100px;
}

#log {
  background: #222;
  width: 100%;
  height: 100%;
  flex: 3;
}

#stats {
  float: right;
  flex: 1;
}

#game-and-stats {
  margin: auto;
  height: 500px;
  width: 700px;
  display: flex;
}

#footer {
  width: 500px;
  margin: auto;
}
